<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stream Deck</title>
    <script src="jquery-3.5.0.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>
    <!--<div class="heading center inline-block"><h1>Stream Deck!</h1> <span><a onclick="openFullscreen(container)">Click me to maximize me</a></span></div>-->
    <i onclick="openFullscreen(container)" class="fullscreen far fa-window-maximize fa-3x"></i>
    <i onclick="location.reload()" class="reloadConfig fas fa-redo-alt fa-3x"></i>
    <a class="settings" href="/configurator"><i class="fas fa-cog fa-3x"></i></a>
    <div class="container">

        {{#each rows}}
            <div class="row">
                {{#each this.items}}
                    <div class="item" data-text-position="{{this.textposition}}" onclick="{{this.function}}()" data-text-color={{this.textcolor}}>
                        <img src="{{this.img}}" alt="">
                        <span class="text">{{this.text}}</span>
                    </div>
                {{/each}}
            </div>
        {{/each}}
    
    </div>
    <script>
        let container = document.getElementsByClassName("container")[0];
    </script>
</body>
</html>